<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Count</title>
    </head>
    <body>
        <a href="{% url 'home' %}">Try Again</a>
        <h1>Your Text: </h1>
        {{fulltext}}
        <h1>Count</h1>
        <p>You have {{count}} Word in Your text</p>
        <h2>Word Count </h2>
        {% for word, total_count in word_dict %}
        {{ word }} - {{total_count}}
        <br>
        {% endfor %}
        <!-- <p>the full text contains: {{fulltext}}</p>  -->
    </body>
</html>